{% extends "_base.html" %}
{% block content %}
<div>
	<h1>Buy or Sell Bitcoin</h1>
	<p>Sometimes I'm looking to buy bitcoin, and sometimes I'm looking to sell it. Find out what my price points are here.</p>
	<p>Buying @ ${{ buy_price }}</p>
	<p>Selling @ ${{ sell_price }}</p>
</div>

<div>
	<h1>Buy Bitcoin via mail</h1>
	<form action="" method="POST">
		<p>USD: <input name="usd" type="text"></p>
		<input type="hidden" name="seed" value="somerandomvaluehere">
		<input type="submit">
	</form>
</div>
{% endblock %}
